<html>
  <head>
    <title>
      Reassign
      {{ contactType.friendly }}
    </title>
    <script src="/public/htmx.min.js"></script>
    <script src="/public/sse.js"></script>
    <link rel="stylesheet" href="/public/bulma.min.css">
    <link rel="stylesheet" href="/public/bulma-tooltip.min.css">
    <link rel="stylesheet" href="/public/material-symbols.css">
  </head>
  <body>
    {% include "app/nav.liquid" %}
    <div class="container is-max-desktop px-4" hx-ext="sse" sse-connect="/events/connection">
      {% render 'reassign/form.liquid', contactType: contactType, hierarchy: hierarchy, data: data, session: session %}
    </div>
  </body>
</html>
