<html>
  <head>
    <title>
      Edit
      {{ contactType.contact_friendly }}
    </title>
    <script src="/public/htmx.min.js"></script>
    <script src="/public/sse.js"></script>
    <link rel="stylesheet" href="/public/material-symbols.css">
    <link rel="stylesheet" href="/public/bulma.min.css">
  </head>
  <body>
    {% render 'app/nav.liquid',
      op: op,
      logo: logo,
      contactTypes: contactTypes,
      showListControls: showListControls,
      session: session
    %}
    <div class="container is-max-desktop px-4">
      <div>
        {% render 'multiplace/edit/form.liquid',
          contactType: contactType,
          hierarchy: hierarchy,
          data: data,
          contact_id: contact_id
        %}
      </div>
    </div>
  </body>
</html>
