{
  "extends": "@medic",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "ignorePatterns": [
    "node_modules/**",
    "dist/**",
    "src/public/**"
  ],
  "plugins": ["promise", "node"],
  "rules": {
    "no-alert": "error",
    "no-console": "off",
    "node/no-exports-assign": "error",
    "max-len": ["error", { "code": 150 }]
  },
  "overrides": [
    {
      "files": [ "**/test/**", "**/tests/**" ],
      "rules": {
        "promise/catch-or-return": "error"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "parserOptions": {
        "createDefaultProgram": true
      },
      "rules": {
        "no-console": "off",
        "no-restricted-syntax": "off",
        // Prevent TypeScript-specific constructs from being erroneously flagged as unused
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "error",
        // Require a specific member delimiter style for interfaces and type literals
        // Default Semicolon style
        "@typescript-eslint/member-delimiter-style": "error",
        "@typescript-eslint/ban-ts-comment": "error",
        "quote-props": ["error", "as-needed"]
      }
    },
    {
      "files": ["*.spec.ts"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "rules": {
        // allow ts-comments in unit tests
        "@typescript-eslint/ban-ts-comment": "off"
      }
    }
  ]
}
