COOKIE_PRIVATE_KEY=
QUEUE_PRIVATE_KEY=    # should be different from COOKIE_PRIVATE_KEY
CONFIG_NAME=chis-ke
PORT=3000             # for development environment
EXTERNAL_PORT=3000    # for docker
INTERFACE=0.0.0.0     # Leave as '0.0.0.0' for prod, suggest '127.0.0.1' for development
CHT_DEV_URL_PORT=localhost:5984 # where your dev CHT instance is, hostname:port
CHT_DEV_HTTP=true              # 'false' for http  'true' for https
REDIS_HOST=localhost
REDIS_PORT=6379