NODE_ENV=                         # set to "dev" to use CHT_DEV_URL_PORT below, leave empty for production
COOKIE_PRIVATE_KEY=               # unique random key, use uuidgen to populate
WORKER_PRIVATE_KEY=               # unique random key, use uuidgen to populate. different from COOKIE_PRIVATE_KEY
CONFIG_NAME=chis-ke               # Name of the configuration
INTERFACE=0.0.0.0                 # Leave as '0.0.0.0' for prod, suggest '127.0.0.1' for development
CHT_DEV_HTTP=false                # 'true' for http  'false' for https
CHT_DEV_URL_PORT=localhost:5984   # where your dev CHT instance is, hostname:port

# uncomment for local development ( `npm run dev`)
#REDIS_HOST=localhost             # Redis server hostname
#REDIS_PORT=6379                  # Redis server port

# normally leave these commented out unless you know what you're doing:
#PORT=3500                        # for development environment container
#EXTERNAL_PORT=3500               # for docker
#CHT_USER_MANAGEMENT_IMAGE=cht-user-management:local               # docker image for cht-user-management service - uncomment to use with local development
#CHT_USER_MANAGEMENT_WORKER_IMAGE=cht-user-management-worker:local # docker image for worker service  - uncomment to use with local development
