NODE_ENV=                                             # set to "dev" to use CHT_DEV_URL_PORT below, leave empty for production
COOKIE_PRIVATE_KEY=                                   # unique random key, use uuidgen to populate  
QUEUE_PRIVATE_KEY=                                    # unique random key, use uuidgen to populate. different from COOKIE_PRIVATE_KEY
CONFIG_NAME=chis-ke                                   # Name of the configuration
PORT=3000                                             # for development environmentcontainer)
EXTERNAL_PORT=3000                                    # for docker
INTERFACE=0.0.0.0                                     # Leave as '0.0.0.0' for prod, suggest '127.0.0.1' for development
#REDIS_HOST=redis                                     # Redis server hostname -  only uncomment if you know what you're doing
#REDIS_PORT=6378                                      # Redis server port -  only uncomment if you know what you're doing
CHT_DEV_HTTP=false                                    # 'true' for http  'false' for https
CHT_DEV_URL_PORT=localhost:5984                       # where your dev CHT instance is, hostname:port
#CHT_USER_MANAGEMENT_IMAGE=cht-user-management:local                   # docker image for cht-user-management service - uncomment to use with local development
#CHT_USER_MANAGEMENT_WORKER_IMAGE=cht-user-management-worker:local     # docker image for worker service  - uncomment to use with local development