<section class="section is-small">
  <form 
    id="form_place_create" 
    hx-encoding='multipart/form-data' 
    autocomplete="off"
    hx-post="/place?op=bulk&type={{contactType.name}}"
    hx-target="this" 
    hx-swap="outerHTML"
  >
      <input name="place_type" value="{{contactType.name}}" hidden />

      {% if errors %}
        <div class="notification is-danger">
          {{errors.message}}
        </div>
      {% endif %}
      
      <div id="bulk-upload-file" class="file has-name is-centered">
        <label class="file-label">
          <input class="file-input" type="file" name="resume">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
          <span class="file-name">
            No file uploaded
          </span>
        </label>
      </div><br/>
      <div class="field is-grouped is-grouped-centered">
        <div class="control">
            <button id="place_create_submit" class="button is-link">Add</button>
        </div>
        <div class="control">
            <a href="/" id="cancel" class="button">Cancel</a>
        </div>
      </div>

      <div class="tile box">
        <table class="table is-fullwidth is-striped is-hoverable">
          <thead>
            <tr>
              <th>Expected Column</th>
              <th>Required</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ contactType.replacement_property.friendly_name }}</td>
              <td>false</td>
              <td>Name of a <i>{{ contactType.friendly }} to replace</i> (leave blank to create new)</td>
            </tr>

            {% for row in contactType.hierarchy %}
            <tr>
              <td>{{ row.friendly_name }}</td>
              <td>{{ row.required }}</td>
              <td>Name of place {{ row.level }} above in hierarchy</td>
            </tr>
            {% endfor %}

            {% for row in contactType.place_properties %}
            <tr>
              <td>{{ row.friendly_name }}</td>
              <td>{{ row.required }}</td>
              <td>Property on place</td>
            </tr>
            {% endfor %}

            {% for row in contactType.contact_properties %}
            <tr>
              <td>{{ row.friendly_name }}</td>
              <td>{{ row.required }}</td>
              <td>Property on primary contact</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="field">
        <div class="control">
            Don't have a template? <a href="/files/template/{{contactType.name}}" download="{{contactType.name}}.tmpl.csv">Download Template</a>
        </div>
      </div>

      <script>
        const fileInput = document.querySelector('#bulk-upload-file input[type=file]');
        fileInput.onchange = () => {
          if (fileInput.files.length > 0) {
            const fileName = document.querySelector('#bulk-upload-file .file-name');
            fileName.textContent = fileInput.files[0].name;
          }
        }
      </script>
  </form>
</section>