<form
id="form_place_create" autocomplete="off"
{% if backend %} hx-post="{{backend}}" {%else%} hx-post="/place?op=new&type={{contactType.name}}" {%endif%}
hx-target="this" hx-swap="outerHTML">
  <input name="place_type" value="{{contactType.name}}" hidden />
  <section class="section is-small">
    {% for hierarchy in hierarchy %}
      {% if hierarchy.level != 0 or op == 'replace' or place.hierarchyProperties.replacement.original %}
        {%
          include "components/search_input.html"
            type=contactType.name
            hierarchy=hierarchy
            prefix="hierarchy_"
            data=data
        %}
      {% endif %}
    {% endfor %}

    {%if op != 'replace'%}
      {% for prop in contactType.place_properties %}
        {%
          include "components/contact_type_property.html" prefix="place_" prop=prop place_type=contactType.name
        %}
      {% endfor %}
    {%endif%}
  </section>
  <section class="section is-small">
    {% for prop in contactType.contact_properties %}
      {%
        include "components/contact_type_property.html" prefix="contact_" prop=prop place_type=contactType.name
      %}
    {% endfor %}
  </section>

  {% if contactType.user_role.size > 1 %}
  <section class="section is-small">
    {%
      include "components/contact_type_property.html" prefix="user_" prop=userRoleProperty
    %}
  </section>
  {% endif %}

  {% if contactType.superset %}
  <section class="section is-small">
    {%
      include "components/contact_type_property.html" prefix="superset_" prop=contactType.superset
    %}
  </section>
  {% endif %}

  <div class=" field is-grouped is-grouped-right">
    <div class="control">
      <button id="place_create_submit" class="button is-link">Save</button>
      <a href="/" class="button">Cancel</a>
    </div>
  </div>
</form>
