<div
  class="columns is-3 is-variable is-multiline"
  id="directive"
  hx-sse="swap:directive"
  hx-target="this"
  hx-swap="outerHTML"
>
  <div class="column has-background-light is-9">
    <section class="hero is-small is-light">
      <div class="hero-body" id="hero_directive_model">
        {% if directiveModel.inProgressCount > 0 %}
          {% render 'place/directive_3_in_progress.liquid', directiveModel: directiveModel %}
        {% elsif directiveModel.stagedCount > 0 %}
          {% render 'place/directive_2_prompt_upload.liquid', session: session %}
        {% elsif directiveModel.successCount > 0 %}
          {% render 'place/directive_4_prompt_save.liquid', session: session %}
        {% else %}
          {% render 'place/directive_1_get_started.liquid', session: session, contactTypes: contactTypes %}
        {% endif %}
      </div>
    </section>
  </div>

  <div class="column is-3 has-background-light">
    <section class="hero is-small is-light">
      <div class="hero-body">
        <p class="title is-5">Summary</p>
        <ul>
          <li>
            {% render 'components/filter_tag.liquid',
              class: 'is-info',
              filterName: 'staged',
              count: directiveModel.stagedCount,
              directiveModel: directiveModel
            %}
          </li>

          <li>
            {% render 'components/filter_tag.liquid',
              class: 'is-success',
              filterName: 'success',
              count: directiveModel.successCount,
              directiveModel: directiveModel
            %}
          </li>

          <li>
            {% render 'components/filter_tag.liquid',
              class: 'is-warning',
              filterName: 'warning',
              count: directiveModel.warningCount,
              directiveModel: directiveModel
            %}
          </li>

          <li>
            {% render 'components/filter_tag.liquid',
              class: 'is-danger is-outlined',
              filterName: 'invalid',
              count: directiveModel.validationErrorCount,
              directiveModel: directiveModel
            %}
          </li>

          <li>
            {% render 'components/filter_tag.liquid',
              class: 'is-danger',
              filterName: 'failure',
              count: directiveModel.failureCount,
              directiveModel: directiveModel
            %}
          </li>
        </ul>
      </div>
    </section>
  </div>

  {% if directiveModel.filter %}
    <div id="filter-warning" class="column is-12">
      <div class="notification is-primary is-light has-text-centered">
        {{ directiveModel.hiddenCount }} results are hidden by a filter
        <button
          class="button tag is-normal"
          hx-post="/app/set-filter/none"
          hx-swap="none"
        >
          Remove Filter
        </button>
      </div>
    </div>
  {% endif %}
</div>
