<div class="columns is-3 is-variable is-multiline" id="directive" hx-swap-oob="true">
  <div class="column has-background-light is-9">
    <section class="hero is-small is-light">
      <div class="hero-body">
        {% if directiveModel.inProgressCount > 0 %}
          {% include "place/directive_3_in_progress.html" %}
        {% elsif directiveModel.stagedCount > 0 %}
          {% include "place/directive_2_prompt_upload.html" %}
        {% elsif directiveModel.successCount > 0 %}
          {% include "place/directive_4_prompt_save.html" %}
        {% else %}
          {% include "place/directive_1_get_started.html" %}
        {% endif %}
      </div>
    </section>
  </div>

  <div class="column is-3 has-background-light">
    <section class="hero is-small is-light">
      <div class="hero-body">  
        <p class="title is-5">Summary</p>
        <ul>
          <li>
            {% include "components/filter_tag.html"
              class="is-info"
              filterName="staged"
              count=directiveModel.stagedCount
            %}
          </li>

          <li>
            {% include "components/filter_tag.html"
              class="is-warning"
              filterName="invalid"
              count=directiveModel.validationErrorCount
            %}
          </li>

          <li>
            {% include "components/filter_tag.html"
              class="is-warning"
              filterName="warning"
              count=directiveModel.warningCount
            %}
          </li>

          <li>
            {% include "components/filter_tag.html"
              class="is-success"
              filterName="success"
              count=directiveModel.successCount
            %}
          </li>

          <li>
            {% include "components/filter_tag.html"
              class="is-danger"
              filterName="failure"
              count=directiveModel.failureCount
            %}
          </li>
        </ul>
      </div>
    </div>
  </section>
  
  {% if directiveModel.filter %}
    <div id="filter-warning" class="column is-12">
      <div class="notification is-primary is-light has-text-centered">
        {{ directiveModel.hiddenCount }} results are hidden by a filter
        <button 
          class="button tag is-normal"
          hx-post="/app/set-filter/none" 
          hx-swap="none"
        >
          Remove Filter
        </button>
      </div>
    </div>
  {% endif %}
</div>