<p class="title is-5">Download Resulting User Credentials</p>

<p>
  Usernames and passwords are now available for download. Click the button below to download the credentials as a file.
</p>

<div class="columns is-centered">
  <div class="column is-4 has-text-centered">
    {% render 'components/button_save_credentials.liquid', session: session %}
  </div>
</div>
