<div id="place_list">
  {% for contactType in contactTypes %}
  {%if contactType.name != directiveModel.activeTab %}
  {%continue%}
  {%endif%}
  <h2>{{contactType.friendly}}</h2>
  {% include "components/actions.html" contactType=contactType %}
  <div id="{{contactType.name}}" class="table-container">
    {% if contactType.places.pagePlaces.length > 0 %}
    <table id="table_places">
      {% include "components/table_header.html" contactType=contactType %}
      <tbody>
        {% for place in contactType.places.pagePlaces %}
        {% include "components/place_item.html" %}
        {% endfor%}
      </tbody>
    </table>
  </div>
  {% include "components/pagination.html" contactType=contactType %}
  {% else %}
  <div>
    <i>No Results</i>
  </div>
  {% endif %}
  {% endfor %}
</div>

<script type="text/javascript">
  $(function () {
      $('[data-toggle="tooltip"]').tooltip()
  })
</script>