<div id="place_list" hx-trigger="load"
hx-get="/app/list?contactTypeName={{ directiveModel.activeTab }}&page={{pageInfo.page}}&pageSize={{pageInfo.pageSize}}" 
hx-target="this" hx-swap="outerHTML">
  {% for contactType in contactTypes %}
  {%if contactType.name != directiveModel.activeTab %}
  {%continue%}
  {%endif%}
  <div id="{{contactType.name}}">
    <h2>{{contactType.friendly}}</h2>
    <div class="table-container">
      <table id="table_places">
        {% include "components/table_header.html" contactType=contactType %}
      </table>
    </div>
    <div id="spinner" class="spinner"></div>
    {% endfor %}
  </div>
</div>