<div id="place_list">
  {% for contactType in contactTypes %}
    {% if contactType.feature_flags == undefined or contactType.feature_flags contains "create" or contactType.feature_flags contains "replace-contact" %}
      <div id="{{contactType.name}}" class="mb-6">
        <h2 class="title is-4">{{contactType.friendly}}</h2>
        {% if contactType.places.length > 0 %}
          <table
            id="table_places"
            class="table is-fullwidth is-striped is-hoverable"
          >
            {% include "components/table_header.html" contactType=contactType %}
            <tbody>
              {% for place in contactType.places %}
                {% include "components/place_item.html" %}
              {% endfor%}
            </tbody>
          </table>
        {% else %}
          <div class="notification is-white">
            <i>No Results</i>
          </div>
      {% endif %}
    {%endif%}
  {% endfor %}
</div>