<form
  id="form_place_move" 
  autocomplete="off"
  {% if backend %} hx-post="{{backend}}" {%else%} hx-post="/manage-hierarchy" {%endif%}
  hx-target="this" 
  hx-on::after-request="handleResponse(event)"
>
  {% if error %}
    <div class="notification is-danger" style="margin: 0;">
      {{ error }}
    </div>
  {% endif %}

  {% if success %}
    <div data-success="true"></div>
  {% endif %}

  <input name="place_type" value="{{contactType.name}}" hidden />
  <input name="op" value="{{op}}" hidden />

  
  <section class="section is-small">
    <h1 class="subtitle">{{ sourceDescription }}</h1>
    {% for hierarchy in sourceHierarchy %}
      {%
        include "components/search_input.html"
          type=contactType.name
          hierarchy=hierarchy
          data=data
          required=hierarchy.required
          prefix="from_"
      %}
    {% endfor %}
  </section>

  {% if destinationHierarchy.size > 0 %}
    <section class="section is-small">
      <h1 class="subtitle">{{ destinationDescription }}</h1>
      {% for hierarchy in destinationHierarchy %}
        {%
          include "components/search_input.html"
            type=contactType.name
            hierarchy=hierarchy
            data=data
            required=hierarchy.required
            prefix="to_"
        %}
      {% endfor %}
    </section>
  {% endif %}

  <div class="field is-grouped is-grouped-right">
    <div class="control">
      <button id="place_create_submit" class="button is-link">OK</button>
      <a href="/" class="button">Cancel</a>
    </div>
  </div>
</form>

<script type="text/javascript">
  function handleResponse(event) {
    const response = event?.detail?.xhr?.responseText;
    const parser = new DOMParser();
    const doc = parser.parseFromString(response, 'text/html');

    // Find the element that indicates success
    const successElement = doc.querySelector('[data-success="true"]');
    if (successElement) {
      bulmaToast.toast({
        duration: 5000,
        dismissible: true,
        closeOnClick: true,
        pauseOnHover: true,
        type: 'is-success',
        position: 'top-center',
        message: `<p>Operation has been scheduled. Please allow up to 24 hours for processing.</p>`,
      });
    }
  }
</script>