<form
  class="data-form"
  id="form_place_move" 
  autocomplete="off"
  {% if backend %} 
  hx-post="{{backend}}" 
  {%else%} hx-post="/move" {%endif%}
  hx-target="this" 
  hx-swap="outerHTML"
>
  {% if error %}
    <div class="error-bg white-text error-message">
      {{ error }}
    </div>
  {% endif %}

  <input name="place_type" value="{{contactType.name}}" hidden />

  <section>
    <h1>From</h1>
    {% for hierarchy in fromHierarchy %}
      {%
        include "components/search_input.html"
          type=contactType.name
          hierarchy=hierarchy
          data=data
          required=hierarchy.required
          prefix="from_"
      %}
    {% endfor %}
  </section>
  <section>
    <h1>To</h1>
    {% for hierarchy in toHierarchy %}
      {%
        include "components/search_input.html"
          type=contactType.name
          hierarchy=hierarchy
          data=data
          required=hierarchy.required
          prefix="to_"
      %}
    {% endfor %}
  </section>
  <div>
    <button id="place_create_submit" class="btn">Move</button>
    <a href="/" class="clear-btn">Cancel</a>
  </div>
</form>
