<div class="topnav" id="topnav">
    {% for contactType in contactTypes %}
    {% capture tabClass %}
    {% if contactType.name == directiveModel.activeTab %}active
    {%endif%}
    {%endcapture%}
    <a hx-trigger="click" hx-get="/app/list?page=1&contactTypeName={{ contactType.name }}"
        id="tab_{{contactType.name}}" hx-target="#place_list" hx-swap="outerHTML show:window:top"
        class="{{tabClass}} nav-item">{{contactType.friendly}}
        {% include "components/nav_badge.html" %}
    </a>
    {% endfor %}
</div>
