<div class="tile is-child pt-3 pr-3" hx-ext="sse" sse-connect="/place/job/status?workbook={{workbookId}}">
    <div hx-trigger="sse:workbook_state_change" hx-get="/places/controls?workbook={{workbookId}}" hx-target="this"
        hx-swap="innerHTML">
        {% include "place/controls.html" %}
    </div>
    <div id="places_parent" class="tile is-child" hx-get="/places?workbook={{workbookId}}" hx-target="#place_tables"
        hx-swap="innerHTML" hx-trigger="sse:state_change">
        <div id="place_tables">
            {% include "place/list.html" %}
        </div>
    </div>
</div>