<div id="place_form_parent">
  {% capture header_caption %}
    {% if op == "bulk" %} Bulk Load from CSV
    {% elsif op == "replace"%} Replace Existing
    {% elsif op == "move"%} Move 
    {% elsif op == "edit" %} Edit
    {% else %} New
    {% endif %}
  {% endcapture %}
  
  <section class="hero is-small">
    <div class="hero-body">
      <p class="title">
        {{header_caption}} {% if contactType.contact_friendly %} {{contactType.contact_friendly}} {%else%} {{contactType.friendly}} {%endif%}
      </p>
    </div>
  </section>

  {% if op == "bulk" %}
    {% include "place/bulk_create_form.html" %}
  {% elsif op == "move" %}
    {% include "place/move_form.html" %}
  {% else %}
    {% include "place/create_form.html" %}
  {% endif %}
</div>