<div id="place_form_parent">
  {% capture header_caption %}
    {% if op == "bulk" %} Bulk Load from CSV
    {% elsif op == "replace"%} Replace Existing
    {% elsif op == "move"%} Move
    {% elsif op == "edit" %} Edit
    {% else %} New
    {% endif %}
  {% endcapture %}

  <h3 class="form-title">
    {{header_caption}} {{contactType.contact_friendly | default: contactType.friendly }}
  </h3>

  {% if op == "bulk" %}
    {% include "place/bulk_create_form.html" %}
  {% elsif op == "move" %}
    {% include "place/move_form.html" %}
  {% else %}
    {% include "place/create_form.html" %}
  {% endif %}
</div>