<div class="tile is-child" hx-ext="sse" sse-connect="/events/connection">
  <div id="places_parent" class="tile is-child">
    {% render 'place/directive.liquid', directiveModel: directiveModel, session: session, contactTypes: contactTypes %}
    {% render 'place/list_lazy.liquid', contactTypes: contactTypes, userRoleProperty: userRoleProperty %}
  </div>
</div>
