<!DOCTYPE html>
<html>

<head>
  <title>CHT User Management Tool</title>
  <script src="/public/scripts/htmx.min.js"></script>
  <script src="/public/scripts/sse.js"></script>
  <script src="/public/scripts/bulma-calendar.min.js"></script>
  <script src="/public/scripts/jquery-3.7.1.slim.min.js"></script>
  <script src="/public/scripts/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/custom-bootstrap.min.css" />
  <link rel="stylesheet" href="/public/css/styles.css" />
</head>

<body>
  <div class="container">
    {% include "app/header.html" %}
    <div class="content">
      <div id="app">
        <div id="workflow-content" class="container">
          {% if view == "list" %}
          {% include "app/fragment_home.html" %}
          {% else %}
          {% include "app/form_switch.html" %}
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</body>

</html>