<a
  class="{{ className | default: 'button is-primary matomo_download' }}"
  href="/files/credentials"
  download="{{ session.authInfo.domain }}.users.csv"
>
  <span class="material-symbols-outlined">save_as</span> Save Credentials
</a>
