<div>
  <input
    {% if include.isInYears %} type="number" min="0" max="120" {%else%} type="date-picker" readonly {%endif%}
    name="{{ include.prop_name }}"
    {% if data[include.prop_name] %} value="{{ data[include.prop_name] }}" {% endif %} 
  />
  <div class="check-box">
    <input 
      type="checkbox" 
      name="option_dob_unknown" 
      hx-target="#div_{{include.prefix}}{{include.prop.property_name}}"
      hx-post="/place/dob?place_type={{include.place_type}}&prefix={{include.prefix}}&prop_type={{include.prop.type}}" 
      {% if include.isInYears %} checked {% endif%} 
    />
    <label>Date of birth unknown</label>
  </div>
</div>

<script>
  /* vanillajs-datepicker */
  var datePickerInput = document.querySelector('input[type="date-picker"]');
  if (datePickerInput){
    var datePicker = new Datepicker(datePickerInput, {
      autohide: true,
      clearButton: true,
      enableOnReadonly: true,
      format: 'yyyy-mm-dd',
      maxDate: new Date(),
      minDate: '1920',
      showOnFocus: true
    });
  }
</script>