<div class="tags has-addons">
  {% if directiveModel.filter == include.filterName %}
    <button class="button {{ include.class }} tag disable">
      {{ include.count }} {{ include.description }}
    </button>
    <a class="tag is-delete" hx-post="/app/set-filter/" hx-swap="none"></a>
  {% else %}
    <button 
      class="
        button
        {{ include.class }}
        tag
        {% if directiveModel.filter %}is-light{%endif %}
        " 
      hx-post="/app/set-filter/{{ include.filterName }}" 
      hx-swap="none"
    >
      {{ include.count }} {{ include.description }}
    </button>
  {% endif %}
</div>