<td
  id="{{ include.propertyName }}"
  {% if place.validationErrors[include.propertyName] %} 
    class="error-bg"
  {% endif %}
>
  <div data-toggle="tooltip" data-placement="top"
  title="{{ place.validationErrors[include.propertyName] | escape }}">
  {% if include.values[include.property.property_name] != empty %}
    {% if include.linkTo and include.linkTo != empty and include.linkTo.type == 'remote' %}
      <a href="https://{{ session.authInfo.domain }}/#/contacts/{{ include.linkTo.id }}" target="_blank">
        {{ include.values[include.property.property_name] }}
      </a>
    {% else %}
      {{ include.values[include.property.property_name] }}
    {% endif %}

    {% if include.linkTo.type == 'local' %}
      <span>cloud_off</span>
    {% endif %}
  {% endif %}
  </div>
</td>