<tr id="{{place.id}}" hx-sse="swap:update-{{place.id}}" hx-target="this" hx-swap="outerHTML">
    <td>{{place.placeNumber}}</td>
    {% for hierarchy in contactType.hierarchy %}
    {% capture propertyName %}hierarchy_{{ hierarchy.property_name }}{% endcapture %}
    {% capture dataLabel %}{{ hierarchy.friendly_name }} {% endcapture %}
    {%
    include "components/list_cell.html"
    propertyName=propertyName
    dataLabel = dataLabel
    property=hierarchy
    values=place.hierarchyProperties
    linkTo=place.resolvedHierarchy[hierarchy.level]
    %}
    {% endfor %}

    {% for property in contactType.place_properties %}
    {% if property.type != 'generated' %}
    {% capture propertyName %}place_{{ property.property_name }}{% endcapture %}
    {% capture dataLabel %}{{ property.friendly_name }} {% endcapture %}
    {%
    include "components/list_cell.html"
    propertyName=propertyName
    dataLabel = dataLabel
    property=property
    values=place.properties
    %}
    {% endif %}
    {% endfor %}

    {% for contact_property in contactType.contact_properties %}
    {% if contact_property.type != 'generated' %}
    {% capture propertyName %}contact_{{ contact_property.property_name }}{% endcapture %}
    {% capture dataLabel %}{{ contact_property.friendly_name }} {% endcapture %}
    {%
    include "components/list_cell.html"
    propertyName=propertyName
    dataLabel = dataLabel
    property=contact_property
    values=place.contact.properties
    %}
    {% endif %}
    {% endfor %}

    {% if contactType.user_role.size > 1 %}
    {% capture propertyName %}user_{{ contactType.userRoleProperty.property_name }}{% endcapture %}
    {% capture dataLabel %}{{ contactType.userRoleProperty.friendly_name }} {% endcapture %}
    {%
    include "components/list_cell.html"
    propertyName=propertyName
    dataLabel = dataLabel
    property=contactType.userRoleProperty
    values=place.userRoleProperties
    %}
    {% endif %}
    <td>
        {% capture tag_text %}{% if place.validationErrors == empty %}{{ place.state }}{% else %}invalid{% endif %}{%
        endcapture %}
        {% capture tag_class %}
        {% if place.state == 'failure' %}error-bg
        {% elsif place.state == 'success' %}success-bg
        {% elsif place.validationErrors != empty %}warning-bg
        {% elsif place.state == 'staged' %}staging-bg
        {% elsif place.state == 'in_progress' %}striped-bg
        {% endif %}
        {% if place.uploadError %}has-tooltip-arrow has-tooltipl-multiline{% endif %}
        {% endcapture %}
        <div class="status badge {{ tag_class }}" {% if place.uploadError
            %}title="{{ place.uploadError | escape }}" data-toggle="tooltip" data-placement="top" {% endif %}>
            {% if place.state == 'in_progress' %} uploading {% else %} {{ tag_text }} {%endif%}
        </div>
    </td>

    <td>
        {% if place.creationDetails.password %}
        {% capture explanation %}Username: {{ place.creationDetails.username }} Password: {{
        place.creationDetails.password }}{% endcapture %}
        <span class="action-link"
            title="Click to copy {{ explanation | escape }}" data-toggle="tooltip" data-placement="top"
            onclick="navigator.clipboard.writeText(`{{ explanation | escape }}`);">
            <img class="action-link" src="public/icons/password.svg" alt="password">
        </span>
        {% else %}
        <a class="action-link" href="/place/edit/{{place.id}}" data-toggle="tooltip" data-placement="bottom" title="Edit">
            <img src="public/icons/edit.svg" alt="Edit">
        </a>
        <a class="action-link" hx-post="/place/refresh/{{place.id}}" data-toggle="tooltip" data-placement="bottom"
        title="Refresh" hx-target="this" hx-swap="none">
            <img src="public/icons/refresh.svg" alt="refresh">
        </a>
        {% if place.validationErrors == empty %}
        <a class="action-link" hx-post="/place/upload/{{place.id}}" hx-target="this" hx-swap="none" 
        data-toggle="tooltip" data-placement="bottom" title="Upload">
            <img src="public/icons/upload.svg" alt="upload">
        </a>
        {%endif%}
        {%endif%}

        <a hx-post="/place/remove/{{place.id}}" class="action-link" data-toggle="tooltip" data-placement="bottom"
            title="Forget" hx-confirm="Are you sure you want to delete this user?" hx-swap="none" hx-target="#place_list">
            <img src="public/icons/delete.svg" alt="delete">
        </a>
    </td>
</tr>
