<thead>
    <tr>
        <th>#</th>
        {% for hierarchy in contactType.hierarchy %}
            <th id="hierarchy_{{ hierarchy.property_name }}">{{ hierarchy.friendly_name }}</th>
        {% endfor %}
        {% for property in contactType.place_properties %}
            {% if property.type != 'generated' %}
            <th id="place_{{property.property_name}}">{{property.friendly_name}}</th>
            {% endif %}
        {% endfor %}
        {% for contact_property in contactType.contact_properties %}
            {% if contact_property.type != 'generated' %}
            <th id="contact_{{contact_property.property_name}}">{{contact_property.friendly_name}}</th>
            {% endif %}
        {% endfor %}
        {% if contactType.user_role.size > 1 %}
            <th id="{{userRoleProperty.property_name}}">{{ contactType.userRoleProperty.friendly_name }}</th>
        {% endif %}
        <th></th>
        <th class="header-actions">
            <a hx-post="/app/refresh-all" hx-swap="none"
            data-toggle="tooltip" data-placement="bottom" title="refresh table">
                <img src="public/icons/refresh-table.svg" alt="refresh">
            </a>
            <a hx-post="/app/remove-all/{{contactType.name}}" hx-swap="none" 
            data-toggle="tooltip" data-placement="bottom" title="delete all"
            hx-confirm="Are you sure you want to DELETE ALL USERS?">
                <img src="public/icons/delete-all.svg" alt="refresh">
            </a>
        </th>
    </tr>
</thead>