<div class="tile is-6 is-child pt-3">
    {% if view=="add" %}
    <form autocomplete="off">
        <div class="field is-grouped">
            <div class="control">
                <div class="select">
                    <select name="type" hx-post="/place/form/update" hx-trigger="change"
                        hx-target="#place_form_parent" hx-swap="outerHTML">
                        {%- for placeType in contactTypes %}
                        <option value="{{placeType.name}}" {% if contactType.name==placeType.name %}selected{%endif%}>{{placeType.friendly}}</option>
                        {%- endfor%}
                    </select>
                </div>
            </div>
            <div class="control">
                <div class="select">
                    <select name="op" hx-post="/place/form/update" hx-trigger="change"
                        hx-target="#place_form_parent" hx-swap="outerHTML">
                        <option value="new" {% if op=="new" %}selected{%endif%}>New</option>
                        <option value="replace" {% if op=="replace" %}selected{%endif%}>Replace</option>
                        <option value="bulk" {% if op=="bulk" %}selected{%endif%}>Bulk Load from CSV</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
    
    {% include "components/form_switch.html" %}
</div>