<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{{ logo }}" />
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="nav-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-arrowless">
          <span class="material-symbols-outlined">add</span> Add
        </a>
        <div class="navbar-dropdown">
          {% for placeType in contactTypes %}
            <div class="navbar-item">
              <b>{{placeType.friendly}}</b>
            </div>
            <a class="navbar-item" href="/add-place?type={{ placeType.name }}&op=new">Create New</a>
            <a class="navbar-item" href="/add-place?type={{ placeType.name }}&op=replace">Replace Existing</a>
            <a class="navbar-item" href="/add-place?type={{ placeType.name }}&op=bulk">Upload from CSV</a>  
          {% endfor%}
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-arrowless">
          <span class="material-symbols-outlined">low_priority</span> Move
        </a>
        <div class="navbar-dropdown">
          {% for placeType in contactTypes %}
            <a class="navbar-item" href="/move/{{ placeType.name }}">Move {{placeType.friendly}}</a>
          {% endfor%}
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-arrowless">
          <span class="material-symbols-outlined">group</span> Users
        </a>
      
        <div class="navbar-dropdown">
          {% if op == 'table' %}
            <a class="navbar-item" hx-post="/app/refresh-all" hx-swap="none">
              <span class="material-symbols-outlined">refresh</span> Refresh
            </a>
            <a class="navbar-item" hx-post="/app/remove-all" hx-swap="none">
              <span class="material-symbols-outlined">delete</span> Clear
            </a>
          {% else %}
            <a class="navbar-item" href="/">
              <span class="material-symbols-outlined">table_rows</span>
              View
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-arrowless">
          <span class="material-symbols-outlined">cloud</span>
          Connected to <i>{{ session.authInfo.friendly }} as {{ session.username }}</i>
        </a>
      
        <div class="navbar-dropdown is-right">
          <a class="navbar-item modal-trigger" data-target="progress-modal" hx-post="/app/apply-changes" hx-swap="none">
            <span class="material-symbols-outlined">group_add</span> Upload
          </a>

          <a class="navbar-item" href="/files/credentials" download="{{ session.authInfo.domain }}.users.csv">
            <span class="material-symbols-outlined">save_as</span> Save Credentials
          </a>
    
          <a class="navbar-item" href="/logout">
            <span class="material-symbols-outlined">logout</span> Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    const $target = document.getElementById('nav-menu');

    // Add a click event on each of burger
    $navbarBurgers.forEach(burger => {
      burger.addEventListener('click', () => {
        burger.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });

    function closeAllModals() {
      (document.querySelectorAll('.modal') || []).forEach(($modal) => {
        closeModal($modal);
      });
    }

    function openModal($el) {
      $el.classList.add('is-active');
    }

    function closeModal($el) {
      $el.classList.remove('is-active');
    }

    // Add a click event on buttons to open a specific modal
    (document.querySelectorAll('.modal-trigger') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    // Add a click event on various child elements to close the parent modal
    (document.querySelectorAll('.modal-background, .modal-action, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
      const $target = $close.closest('.modal');

      $close.addEventListener('click', () => {
        closeModal($target);
      });
    });

    // Add a keyboard event to close all modals
    document.addEventListener('keydown', (event) => {
      if (event.key === "Escape") {
        closeAllModals();
      }
    });
  });
</script>
