<html>

<head>
  <title>CHT User Management Tool</title>
  <script src="/static/htmx.min.js"></script>
  <script src="/static/sse.js"></script>
  <link rel="stylesheet" href="/static/bulma.min.css" />
  <link rel="stylesheet" href="/static/bulma-tooltip.min.css" />
  <link rel="stylesheet" href="/static/material-symbols.css" />

  <style>
    .material-symbols-outlined {
      margin-right: 5px;
    };
  </style>
</head>

<body>
  {% include "app/nav.html" %}

  <div id="app" class="" style="min-height: 100vh">
    <div id="workflow-content" class="container tile is-parent">
      {% if view == "list" %}
        {% include "app/fragment_home.html" %}
      {% else %}
        {% include "app/form_switch.html" %}
      {% endif %}
    </div>
  </div>
</body>

</html>