<html>

<head>
    <title>cht-usr</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <div id="app" class="container" style="min-height: 100vh">
        <div id="workflow-content" class="tile is-parent">
            {%if view=="add" or view=="edit" %}
            {% include "app/fragment_create.html" %}
            {%else%}
            {% include "app/fragment_home.html" %}
            {%endif%}
        </div>
    </div>
</body>

</html>