<html>
  <head>
    <title>
      New
      {{ contactType.contact_friendly }}
    </title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>
    <link rel="stylesheet" href="/public/bulma.min.css">
    <link rel="stylesheet" href="/public/material-symbols.css">
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation"></nav>
    <div class="container is-max-desktop px-4" hx-ext="sse" sse-connect="/events/connection">
      {% render 'new/create_form.liquid', contactType: contactType, hierarchy: hierarchy, data: data, places: places %}
    </div>
  </body>
</html>
