<div
  id="place_fragment"
  class="mb-5"
>
  <p>Fill {{ contactType.friendly }} details</p>
  <div class="p-2">
    {% for prop in contactType.place_properties %}
      {%
        include "components/contact_type_property.html" prefix="place_"
        prop=prop
        data=data
        place_type=contactType.name
      %}
      {% if errors[prop.property_name] %}
        <p class="mb-2" style="color: red;">{{ errors[prop.property_name] }}</p>
      {% endif %}
    {% endfor %}
  </div>
  <div class="field is-grouped is-grouped-right p-2">
    <button
      type="button"
      hx-get="/place_form?place_type={{contactType.name}}&action=cancel"
      class="button is-small is-danger is-light mr-2"
      hx-target="#place_fragment"
      hx-swap="outerHTML"
    >
      Cancel
    </button>
    <button
      class="button is-primary is-small"
      hx-post="/place_form?place_type={{contactType.name}}"
      hx-target="#place_fragment"
      hx-swap="outerHTML"
    >
      Add
    </button>
  </div>
</div>
