<div id="place_fragment" class="pl-3 pr-3 mb-5">
  <p>Fill place details</p>
  <div class="p-2">
    {% for prop in contactType.place_properties %}
      {%
        include "components/contact_type_property.html" prefix="place_" prop=prop
        place_type=contactType.name
      %}
    {% endfor %}
  </div>
  <div class="field is-grouped is-grouped-right p-2">
    <button
      hx-get="/place_form?place_type={{contactType.name}}&action=cancel"
      class="button is-small mr-2"
      hx-target="#place_fragment"
      hx-swap="outerHTML"
    >
      Cancel
    </button>
    <button
      type="button"
      class="button is-primary is-small"
      hx-post="/place_form?place_type={{contactType.name}}"
      hx-target="#place_fragment"
      hx-swap="outerHTML"
    >
      Add
    </button>
  </div>
</div>
