<form id="form_authenticate" hx-post="/authenticate" hx-indicator="#login-spinner"
  hx-on="htmx:beforeRequest:clearErrorMsg('login-error-msg')"
  hx-disabled-elt="button#login-btn"
  hx-target="this" hx-swap="outerHTML">

  {%if errors %}
    <div id="login-error-msg" class="error-bg white-text error-message">
      <span>Login Failed. Please Try Again</span>
    </div>
  {%endif%}

  <div>
    <label>Instance</label>
    <div class="custom-select">
      <select class="dropdown-input" name="domain">
        {% for domain in domains %}
        <option value="{{ domain.domain }}">{{ domain.friendly }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div>
    <label>Credentials</label>
    <div>
      <div><input name="username" type="text" placeholder="Username" required></div>
      <div><input name="password" type="password" placeholder="Password" required></div>
    </div>
  </div>

  <div>
    <button class="login-btn" id="login-btn">Login
      <span id="login-spinner" class="spinner-sm btn-spinner"></span>
    </button>
  </div>

</form>
