.directive {
    background-color: #f5f5f5;
    margin: 1em auto;
    min-height: 3em;
    padding: 10px 25px;
    h3 {
        margin: 5px auto;
    }
    @include mobile-only {
        font-size: 0.9em;
        padding: 10px;
    }
    .prompt-save {
        a {
            float: right;
            top: 20%;
        }
    }
    ol {
        margin-bottom: 1px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .close-btn {
      float: right;     
    }
    pre {
        background-color: white;
        padding: 5px 5px 5px 5px;
        text-align: left;
        text-wrap: wrap;
        button {
            float: right;
        }
    }
}

.directive.get-started {
    @include card-shadow;
    background-color: #f5f5f5;
    font-size: $font-extra-large;
    padding-bottom: 40px;
    text-align: center;
    border-radius: $element-border-color;
    margin: 7em 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        max-width: 40%;
    }
    span {
        font-size: $font-extra-extra-extra-large;
    }
    .directive-dropdown {
        display: flex;
    }
    @include mobile-only {
        margin: 7em 5px;
        padding: 10px 10px 30px 10px;
        p {
            width: 90%;
            max-width: none;
        }
        button {
            font-size: $font-medium;
        }
    }
}

.hidden-tag-container {
    margin-top: 10px;
    font-size: 0.95em;
}
