form {
    margin: 0 auto;
    padding: 2em;
    border-radius: 12px;
    background-color: white;
    @include card-shadow;
    input {
        font-size: $font-medium;
        border: 1px solid $element-border-color;
        border-radius: $border-radius;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        &:focus {
            border: none;
            outline-style: solid;
            outline-color: $primary-color;
            box-shadow: 0 0 4px 2px $primary-color;
            outline-width: 2px;
        }
    }
    input[type="date-picker"] {
        @include input-icon("/public/icons/calendar.svg");
        cursor: pointer;
    }

    .file-input {
        width: 70%;
        @include small-screen{
            width: 95%;
        }
        margin: 5px auto;
        input {
            width: 100%;
            cursor: pointer;
        }
    }

    select {
        @extend input;
        appearance: none;
        background-color: white;
        cursor: pointer;
        @include input-icon("/public/icons/dropdown.svg");
    }

    &.data-form {
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        .input-box {
            margin-top: 15px;
        }
        section {
            width: 100%;
            margin-bottom: 1em;
        }
        input {
            margin: 5px auto;
        }
        @include small-screen {
            width: inherit;
            padding: 15px 10px;
            margin: 0px;
            section {
                width: 95%;
            }
        }
    }

    .autocomplete-dropdown {
        border: 1px solid $element-border-color;
        border-radius: $border-radius;
        background-color: white;
        max-height: 200px;
        min-width: 340px;
        overflow-y: auto;
        position: absolute;
        display: flex;
        flex-direction: column;
        @include card-shadow;
        z-index: 999;
        a {
            padding: 5px 10px;
            cursor: pointer;
            &:hover {
                background-color: #337ab7;
            }
        }
    }

    &#form_authenticate {
        font-size: $font-extra-large;
        width: 550px;
        @include default-shadow;
        @include mobile-only {
            width: 80%;
        }
        input {
            margin: 5px auto;
            input[type="text"] {
                margin-bottom: 20px;
            }
        }
        select {
            margin: 5px auto 20px auto;
        }
    }

    .check-box {
        display: inline-flex;
        align-items: center;
        input {
            width: fit-content;
        }
        label {
            margin-left: 5px;
            font-style: italic;
            font-size: $font-small;
        }
    }

    .section-box {
        margin-top: 2em;
    }

    .error-message {
        padding: 10px;
        border-radius: $border-radius;
    }
}

.form-title {
    text-align: center;
}
