@mixin mobile-only {
    @media (max-width: $mobile-max-width) {
        @content;
    }
}

@mixin small-screen {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin web-only {
    @media (min-width: $mobile-max-width) {
        @content;
    }
}

@mixin default-shadow {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

@mixin card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@mixin unselectable-text {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@mixin input-icon($icon-url) {
    background-image: url($icon-url);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 1.25em auto;
}
