.topnav {
  overflow-x: auto;
  background-color: white;
  max-height: 10em;
  display: flex;
  border-bottom: 1px solid $element-border-color;
  position: sticky;
  position: -webkit-sticky;
  top: 3.4em;
  z-index: 900;
  a {
    @include unselectable-text;
    font-size: $font-medium;
    @include mobile-only {
      font-size: $font-small;
    }
    cursor: pointer;
    float: left;
    display: block;
    color: $disabled-color;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
  .active {
      border-bottom: 3px solid $button-color;
      color: black;
      span {
        background-color: $button-color;
      }
    }
}

.nav-content h2 {
  margin-left: 5px;
}
