<form id="form_place_create" autocomplete="off" {% if backend %} hx-post="{{backend}}" {%else%}
    hx-post="/place?workbook={{workbookId}}&op=new" {%endif%} hx-target="this" hx-swap="outerHTML">
    <input name="place_type" value="{{pagePlaceType}}" hidden />
    {% for prop in placeProperties %}
    <div class="field">
        <label class="label">{{prop.csv_name}}*</label>
        <div class="control">
            {% if prop.type == "parent" %}
            {% include "place/parent_search_input.html" %}
            {%else%}
            <input name="{{prop.doc_name}}" type="text" class="input" {% if prop.required %} required{% endif %} {% if
                data[prop.doc_name] %}value="{{data[prop.doc_name]}}" {% endif %} />
            {%endif%}
        </div>
    </div>
    {% endfor %}
    {% for prop in contactProperties %}
    <div class="field">
        <label class="label">{{prop.csv_name}}*</label>
        <div class="control">
            <input name="{{prop.doc_name}}" type="text" class="input" {% if prop.required %} required{% endif %} {% if
                data[prop.doc_name] %}value="{{data[prop.doc_name]}}" {% endif %} />
        </div>
    </div>
    {% endfor %}
    <div class=" field is-grouped is-grouped-right">
        <div class="control">
            <button id="place_create_submit" class="button is-link">Save</button>
        </div>
    </div>
</form>