{% for contactType in contactTypes %}
<div id="{{contactType.name}}" class="mb-6">
    <h2 class="title is-4">{{contactType.friendly}}</h2>
    <br>
    <table id="table_places" {% if oob %} hx-swap-oob="true" {%endif%} class="table is-fullwidth">
        <thead>
            <tr>
                {% for property in contactType.place_properties %}
                <th id="place_{{property.doc_name}}">{{property.csv_name}}</th>
                {% endfor %}
                {% for contact_property in contactType.contact_properties %}
                <th id="contact_{{contact_property.doc_name}}">{{contact_property.csv_name}}</th>
                {% endfor %}
                <th>-</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for place in contactType.places %}
            <tr>
                {% for property in contactType.place_properties %}
                <th id="place_{{place.place.id}}">{{place.place.properties[property.doc_name]}}</th>
                {% endfor %}
                {% for contact_property in contactType.contact_properties %}
                <th id="contact_{{place.contact.id}}">{{place.contact.properties[contact_property.doc_name]}}</th>
                {% endfor %}
                {%if place.valid%}
                <td><span class="tag is-info is-light">{{place.state.status}}</span></td>
                {%else%}
                <td><span class="tag is-danger is-light">INVALID</span></td>
                {%endif%}
                <td>
                    {%if place.place.remoteId%}
                    {%else%}
                    <a hx-target="#workflow-content" hx-swap="innerHTML"
                        hx-get="/place/edit/{{place.place.id}}">Edit</a>
                    {%endif%}
                </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
{% endfor %}