<input id="place_PARENT" name="place_PARENT" type="search" class="input"
    hx-post="/search/parent?place_id={{place.id}}&type={{contactType.name}}&op={{op}}" hx-vals=""
    placeholder="start typing to see suggestions" hx-trigger="keyup changed delay:250ms, search"
    hx-target="#search_results" hx-swap="innerHTML" required {% if data.place_PARENT %}value="{{data.place_PARENT}}" {%
    endif %} {% if oob %} hx-swap-oob="true" {%endif%} hx-encoding="application/x-www-form-urlencoded" />
<div id="search_results" class="control">
</div>
{% if data.place_parent %}
<select name="place_parent" hidden>
    <option value="{{ data.place_parent }}" selected>{{ data.place_PARENT }}</option>
</select>
{% endif %}
{% if errors.missingParent %}
<span class='error-message' style="color:maroon">Search and select a place from the drop down shown</span>
{% endif %}