<div id="progress-modal" class="modal">
  <div id="progress-modal-content">
    <div class="modal-background"></div>
    <div class="modal-content">
      <header class="modal-card-head">
        <p class="modal-card-title" id="progress-modal-card-title" hx-swap-oob="true">
          Upload
          {% if progress.remainingCount > 0 %}In Progress...
          {% else %}Complete
          {% endif %}
        </p>
        <button class="delete" aria-label="close" hx-preserve="true"></button>
      </header>

      <section id="progress-modal-card-body" hx-swap-oob="true" class="modal-card-body">
        <div class="columns is-multiline is-centered">
          {% if progress.remainingCount > 0 %}
            <progress class="progress is-medium is-dark" value="{{ progress.completeCount }}" max="{{ progress.pendingCount }}">{{ progress.percent }}</progress>
          {% else %}
            <div class="column is-4 has-text-centered">
              <a class="button is-primary modal-action" href="/files/credentials" download="{{ session.authInfo.domain }}.users.csv">
                <span class="material-symbols-outlined">save_as</span>
                Save Credentials
              </a>
            </div>
          {% endif %}
        </div>

        <div class="columns box is-centered">
          <div class="column is-fifth has-text-centered">
            <span class="tag is-success">{{ progress.completeCount }} successes</span> 
          </div>
          <div class="column is-fifth has-text-centered">
            <span class="tag is-danger">{{ progress.failureCount }} failures</span> 
          </div>
          <div class="column is-fifth has-text-centered">
            <span class="tag is-light">{{ progress.remainingCount }} remaining</span>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>