<form id="form_place_create" autocomplete="off" hx-post="/place?op=replace" hx-target="this"
    hx-swap="outerHTML">
    <input name="place_type" value="{{contactType.name}}" hidden />
    <div class="field">
        <label class="label">Place</label>
        <div class="control">
            <input id="place_PARENT" name="place_PARENT" type="search" class="input"
                hx-post="/search/replace?type={{contactType.name}}"
                placeholder="Start typing to see suggestions" hx-trigger="keyup changed delay:250ms, search"
                hx-target="#search_results" hx-swap="innerHTML" required {% if data.place_PARENT
                %}value="{{data.place_PARENT}}" {% endif %} />
        </div>
        <div id="search_results" class="control">
        </div>
        {% if errors.missingPlace %}
        <span class='error-message' style="color:maroon">Search and select a place from the drop down shown</span>
        {% endif %}
        {% if data.place_id %}
        <select name="place_id" hidden>
            <option value="{{ data.place_id }}" selected>{{ data.place_PARENT }}</option>
        </select>
        {% endif %}
    </div>
    <div class="field">
        <label class="label">New Contact*</label>
        <div class="field is-grouped">
            <div class="control is-expanded">
                <input name="contact_name" type="text" placeholder="eg. John Doe" class="input" required
                    pattern="^[a-zA-Z'\s]+$" {% if data.contact_name %}value="{{data.contact_name}}" {% endif %} />
            </div>
            <div class="control">
                <div class="select">
                    <select name="contact_sex" title="sex" required>
                        <option value="male" {% if data.contact_sex=="male" %}selected {% endif %}>Male</option>
                        <option value="female" {% if data.contact_sex=="female" %}selected {% endif %}>Female</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Phone*</label>
        <div class="control">
            <input name="contact_phone" type="tel" placeholder="eg. 0712345678" class="input" required
                pattern="^[+\d]+$" / {% if data.contact_phone %}value="{{data.contact_phone}}" {% endif %}>
        </div>
        {% if errors.phoneInvalid %}
        <span class='error-message' style="color:maroon">Invalid Phone Number format</span>
        {% endif %}
    </div>
    <div class="field">
        <label class="label">User Role*</label>
        <div class="control">
            <div class="select">
                <select name="contact_role" title="roles">
                    {% for role in userRoles %}
                    <option value="{{ role }}" {% if data.contact_role==role %}selected {% endif %}>{{ role }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <!-- <div class="field">
        <label class="label">Would you like to rename the {{contactType.name}}?</label>
        <div class="control" hx-post="/place?op=replace" hx-vals='{"layout": true}'
            hx-target="#form_place_create" hx-trigger='change from:input[name="rename"]'>
            <label class="radio">
                <input type="radio" id="yes" name="rename" value="yes" {% if data.rename=="yes" %}checked {% endif %}>
                Yes
            </label>
            <label class="radio">
                <input type="radio" id="no" name="rename" value="no" {% unless data.rename %}checked{%endunless%} {% if
                    data.rename=="no" %}checked {% endif %}>
                No
            </label>
        </div>
    </div> -->
    <!-- {% if data.rename == "yes" %}
    <div class="field">
        <label class="label">New Place Name*</label>
        <div class="control">
            <input name="place_name" type="text" placeholder="eg. Division One" class="input" required
                pattern="^[a-zA-Z'\s]+$" {% if data.place_name %}value="{{data.place_name}}" {% endif %} />
        </div>
    </div>
    {% endif %} -->

    <div class=" field is-grouped is-grouped-right">
        <div class="control">
            <button class="button is-link">Replace</button>
        </div>
    </div>
</form>