<input 
    id="{{ include.name }}" 
    name="{{ include.name }}" 
    type="search" 
    class="input"
    hx-post="/search?place_id={{place.id}}&type={{ include.type }}&op={{op}}&scenario={{ include.name }}" 
    hx-vals=""
    placeholder="start typing to see suggestions" 
    hx-trigger="keyup changed delay:200ms, search"
    hx-target="#search_results_{{ include.name }}" hx-swap="innerHTML" 
    required 
    {% if include.value %}value="{{ include.value }}" {% endif %}
    {% if oob %} hx-swap-oob="true" {%endif%}
    hx-encoding="application/x-www-form-urlencoded" 
/>
<div id="search_results_{{ include.name }}" class="control"></div>
